{% extends 'base.html.twig' %}

{% block body %}
<h2 class="sub-header">Products list</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr id="product_{{ product.id }}">
                <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                            <a href="{{ path('products_show', { 'id': product.id }) }}">show</a>
                            <a  class='modal-button' data-target='#myModal'  href="{{ path('products_edit', { 'id': product.id }) }}">edit</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

            <a class='modal-button' data-target='#myModal' href="{{ path('products_new') }}">Create a new product</a>

    <!-- Modal -->
    <div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span
                                aria-hidden='true'>&times;</span></button>
                    <h4 class='modal-title' id='myModalLabel'>Product</h4>
                </div>
                <div class='modal-body'>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
