{% extends 'base.html.twig' %}

{% block body %}
<h2 class="sub-header">Products list</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                            <a href="{{ path('products_show', { 'id': product.id }) }}">show</a>
                            <a href="{{ path('products_edit', { 'id': product.id }) }}">edit</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

            <a href="{{ path('products_new') }}">Create a new product</a>
{% endblock %}
